<div id="modal">
    <h2 mat-dialog-title class="fonteBase">Automóvel modelo: {{ data.automovel.modelo }}</h2>
    <mat-dialog-content class="mat-typography">
        <div class="container-conteudo">
            <div class="container-1-select">
                <label for="cliente">Cliente</label>
                <select id="cliente" [(ngModel)]="cliente" (change)="onSelectUpdate()" class="select">
                    <option selected></option>
                    <option *ngFor="let cliente of listaClientes" value="{{ cliente.id }}">{{ cliente.nome }}</option>
                </select>
            </div>

            <div class="container-1-select">
                <label for="concessionaria">Concessionária</label>
                <select id="concessionaria" [(ngModel)]="concessionaria" (change)="onSelectUpdate()" class="select">
                    <option selected></option>
                    <option *ngFor="let concessionaria of listaConcessionaria" value="{{ concessionaria.id }}">{{
                        concessionaria.nome }}</option>
                </select>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="fonteBase">Cancelar</button>
        <button (click)="confirmSell()" mat-flat-button [disabled]="isConfirmDisabled">Confirmar</button>

    </mat-dialog-actions>
</div>