<div id="modal">
    <h2 mat-dialog-title class="fonteBase">Automóvel modelo: {{ data.automovel.modelo }}</h2>
    <mat-dialog-content class="mat-typography">
        <div class="container-select">
            <label for="cliente">Cliente</label>
            <select id="cliente">
                <option *ngFor="let cliente of listaClientes" value="{{ cliente.id }}">{{ cliente.nome }}</option>
            </select>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="fonteBase">Cancel</button>
    </mat-dialog-actions>
</div>