* {
    font-family: 'Segoe UI';
}

#modal {
    width: 25vw;
}

table, ng-container {
    width: 100%;
}

.fonteBase {
    font-family: 'Segoe UI';
}

.btn {
    background-color: #7814ff;
    color: white;
}