<div id="modal">

    <h2 mat-dialog-title class="fonteBase">Área {{ data.area }}</h2>
    <mat-dialog-content>
        <table>
            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Preço</th>
                    <th>Vender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let automovel of listaAutomoveis">
                    <td>
                        {{ automovel.modelo }}
                    </td>
                    <td>
                        {{ formatPreco(automovel.preco) }}
                    </td>
                    <td>
                        <button (click)="vender(automovel.id)" mat-flat-button color="primary" class="fonteBase">Vender</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close class="fonteBase">Fechar</button>
    </mat-dialog-actions>
</div>