<div id="body">
  <div id="container">

    <div [ngClass]="retornaClassePatio(1)" (click)="openDialog(1)" id="area-1" class="default-area">
      1
    </div>

    <div [ngClass]="retornaClassePatio(2)" (click)="openDialog(2)" id="area-2" class="default-area">
      2
    </div>

    <div [ngClass]="retornaClassePatio(3)" (click)="openDialog(3)" id="area-3" class="default-area">
      3
    </div>

    <div [ngClass]="retornaClassePatio(4)" (click)="openDialog(4)" id="area-4" class="default-area">
      4
    </div>

    <div [ngClass]="retornaClassePatio(5)" (click)="openDialog(5)" id="area-5" class="default-area">
      5
    </div>

    <div [ngClass]="retornaClassePatio(6)" (click)="openDialog(6)" id="area-6" class="default-area">
      6
    </div>

    <div [ngClass]="retornaClassePatio(7)" (click)="openDialog(7)" id="area-7" class="default-area">
      7
    </div>

    <div [ngClass]="retornaClassePatio(8)" (click)="openDialog(8)" id="area-8" class="default-area">
      8
    </div>

    <div [ngClass]="retornaClassePatio(9)" (click)="openDialog(9)" id="area-9" class="default-area">
      9
    </div>

    <div [ngClass]="retornaClassePatio(10)" (click)="openDialog(10)" id="area-10" class="default-area">
      10
    </div>

    <div [ngClass]="retornaClassePatio(11)" (click)="openDialog(11)" id="area-11" class="default-area">
      11
    </div>

  </div>
</div>